@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');

body{
    font-family: 'Source Serif Pro', serif;
    background-color: #6366F1;
}

h1{
    text-align: center;
    padding: 2rem;
    background-color: ;
}

main{
    background-color: salmon;
    padding: 1rem;
}
label {
    display: block;
    text-align: center;
    padding: 1rem;
}

button{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Source Serif Pro', serif;
    font-size: larger;
}

button:hover {
    background-color: black;
    color: white
}

#output {
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 50%;
}

