@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');

body{
    font-family: 'Source Serif Pro', serif;
    background-image: url("images/stock1.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    padding: 2rem;
    
}

main{
    background-color: #322514;
    padding: 1rem;
}
label {
    display: block;
    text-align: center;
    padding: 1rem;
    color: black;
}

button{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Source Serif Pro', serif;
    font-size: larger;
}

button:hover {
    background-color: black;
    color: white
}

#outputEl {
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 50%;
    font-size: x-large;
}

